@model WarehouseViewModel

<div>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Phone
    </div>
    <div>
        @Model.Address
    </div>    
    <div>
        @Model.SizeInCubicMeters
    </div>    
    <div>
        @Model.User.Name
    </div>
</div>