@model ProductViewModel

<div>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Description
    </div>
    <div>
        @Model.Code
    </div>
    <div>
        @Model.MeasureUnit
    </div>
    <div>
        @Model.Weight
    </div>
    <div>
        @Model.Volume
    </div>
    <div>
        @Model.Quantity
    </div>
    <div>
        @Model.Supplier.Name
    </div>
    <div>
        @Model.Price
    </div>
    <div>
        @Model.Warehouse.Name
    </div>
    <div>
        @Model.User.Name
    </div>
</div>